*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    width: 100vw;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* color: #0059d9;  */
    min-width: 320px;
    overflow-x: hidden;
    background-color: #f6f6ec;
    font-weight: 700;
}

.accordion__container {
    font-size: 1.5rem;
    margin: 0 10%;
/* padding: 0 1.5rem; */
}


.accordion__title {
    margin: 1.5rem 0;
    font-size: 3rem;
    position: relative;
    color: black;
}

.accordion__line {
    width: 100%;
    height: 0;
    border: 1px solid #d2d9e2;
    margin-bottom: 1.5rem;
}

.accordion__label {
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: color .4s ease;
}

.accordion__subtitle{
    margin-top: 0.6rem;
    font-size: 2rem;
    max-width: 85%;
    /* color: #0059d9; */
    transition: color .2s ease;
}


.accordion__input {
    z-index: -1;
    opacity: 0;
}

.accordion__plus,
.accordion__cancel{
    display: none;
    margin-left: auto;
    width: 2rem;
    text-align: center;
    /* transition: color .2s ease; */
}

.accordion__plus{
    font-size: 2rem;
}

.accordion__cancel{
    font-size: 1.4rem;
}

.accordion__container:hover .accordion__plus{
    /* opacity: 1; */
    display: block;
} 


.accordion__block-image{
    display: none;
}


.accordion__image{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.accordion__text{
    display: flex;
    align-items: center;
    color: #0059d9;
}

.accordion__container:hover .accordion__text{
    color: black;
} 


.accordion__label:has(.accordion__input:checked) .accordion__block-image {
    display: block;
}

.accordion__container:hover:has(.accordion__input:checked) .accordion__cancel {
    display: block;
    }

.accordion__label:has(.accordion__input:checked) .accordion__plus {
    /* opacity: 0; */
    display: none;
}

.accordion__label:has(.accordion__input:active) {
    /* color: #0059d9; */
    opacity: 0.8;
}

.accordion__label:has(.accordion__input:active) .accordion__text {
    color: #0059d9;
}

.accordion__label:has(.accordion__input:checked) .accordion__text {
    /* color: black; */
    margin-bottom: 2rem;
}

.accordion__label:has(.accordion__input:checked) .accordion__text{
    color: black;
}

.accordion__container:hover
:has(.accordion__input:not(:checked)) 
.accordion__cancel {
    display: none;
}

.accordion__mem:hover .accordion__block-image{
    display: block;
}

.accordion__mem:hover .accordion__text{
    margin-bottom: 2rem;
}

@media (min-width: 320px){
    body {
        font-size: 2rem;
    }
    .accordion__image{
        max-width: 30rem;
    }
}

/* @media (min-width: 820px){
body {
background-color: blue;
}
}

@media (max-width: 1920px){
body {
background-color:  red;
}
} */